<div class="container">
    <div class="row">

        <div class="well"  style="background-color:#7B0082;color: white"><h3>Upcoming Events</h3></div>
        <div class="container">
            <div class="jumbotron">
                <h3>Coming Soon...</h3>
            </div>

        </div>



    </div>
    <div class="row">
        <div class="well"  style="background-color:#7B0082;color: white"><h3>Past Events</h3></div>
        <div class="container">
            <div class="jumbotron">
                <h3 style="color: #7B0082">
                    <u>Launching Ceremany of Namma Bidar Welfere Association - 25th November 2017</u>
                </h3>
                <p>
                    <b>Chife Guest:</b>
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <h4 style="color:red">
                            <b>1.</b> Shri Raghavendra Auradkar</h4>
                        <p>ADGP,IPS,Bengaluru</p>
                    </div>
                    <div class="col-md-6">
                        <h4 style="color:red">
                            <b>2.</b> Shri Vaijinath Biradar</h4>
                        <p>Veteran Actor,Kannada Film Industry,Bengaluru</p>
                    </div>
                    <div class="col-md-6">
                        <h4 style="color:red">
                            <b>3.</b> Shri Shivakumar Hedgapure</h4>
                        <p>Scientist ISRO,Bengaluru</p>
                    </div>
                    <div class="col-md-6">
                        <h4 style="color:red">
                            <b>4.</b> Shri Sangamesh Nidgundi</h4>
                        <p>Docter, R.R. Nagar, Bengaluru</p>
                    </div>
                    <div class="col-md-6">
                        <h4 style="color:red">
                            <b>5.</b> Santosh S Nagarale</h4>
                        <p>Senior Advocate, Bengaluru</p>
                    </div>
                    <div class="col-md-6">
                        <h4 style="color:red">
                            <b>6.</b>Ramling Biradar</h4>
                        <p>President,NBWA, Bengaluru</p>
                    </div>
                </div>

                <div class="row">
                    <p>
                        <b>Venue:</b>
                    </p>
                    <div class="col-md-6">
                        <p>Library Hall
                            <br/>RPC Layout,Near attiguppe Metro Station
                            <br/>Hampinagar,Vijaynagar 560104</p>

                    </div>
                    <p>
                        <b>Date:</b>
                    </p>
                    <div class="col-md-6">
                        <p>25-11-2017</p>

                    </div>
                </div>
            </div>
            
        </div>


    </div>
</div>

